<div class="container">
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <%= form_with(model: @article, url: article_path(@article), method: 'put', local: true) do |f| %>
    <div class="">
      <%= f.label :title, 'タイトル' %>
    </div>
    <div class="">
      <%= f.text_field :title, class: 'text' %>
    </div>
    <div class="">
      <%= f.label :content, '内容' %>
    </div>
    <div class="">
      <%= f.text_area :content %>
    </div>
    <%= f.submit '保存', class: 'btn-primary' %>
  <% end %>
</div>